@media (max-width: 1280px) {
  .s-success .container {
    flex-direction: column;
  }

  .s-success .container .title-success {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .s-success .container .title-success h2 {
    text-align: center;
  }

  div.s-modal {
    width: 80%;
  }
}
@media (max-width: 1133px) {
  .s-about .container {
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
  }
  .s-about .container .about-me h2 {
    text-align: center;
  }
  .s-about .container .about-me p {
    text-align: center;
  }
  .s-about .container .about-me ul {
    justify-content: center;
  }

  div.s-modal {
    width: 80%;
  }
}
@media (max-width: 1000px) {
  .s-success .container .cards {
    flex-direction: column;
    gap: 2.4rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .s-success .container .cards .card {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 0;
    max-width: 100%;
  }

  .s-success .container .cards .card .card-title h3 {
    margin-bottom: 0;
  }

  .s-skills .skills .wrapper {
    margin-top: 48px;
  }

  .s-cases .container .title-cases h2 {
    text-align: center;
  }

  .s-contact .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .s-contact .container .title-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
  }
  .s-contact .container .title-contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input-button {
    justify-content: center;
  }
}

@media (max-width: 900px) {
  header .container nav,
  header .container nav .menu {
    flex-direction: column;
  }

  header .container {
    display: inline-block;
  }

  header .container .logo img {
    width: 8.4rem;
  }

  header .container nav {
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
    top: -20rem;
  }

  header .container nav .menu,
  header .container nav .btn-primary,
  header .container nav .menu-social {
    display: none;
  }

  header .container nav.show {
    opacity: 1;
    visibility: visible;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    background-color: var(--black-color);
  }

  header .container nav .menu,
  header .container nav .btn-primary,
  header .container nav .menu-social {
    display: flex;
  }
  header .container .open-menu {
    position: absolute;
    background-image: url(../img/menu.svg);
    width: 54px;
    height: 54px;
    background-repeat: no-repeat;
    top: 3.5rem;
    right: 1.5rem;
    display: inline-block;
    cursor: pointer;
  }
  header .container nav .close-menu {
    position: absolute;
    background-image: url(../img/close.svg);
    width: 54px;
    height: 54px;
    background-repeat: no-repeat;
    top: 3.5rem;
    right: 4rem;
    display: inline-block;
    cursor: pointer;
  }

  header .container nav .menu {
    gap: 6rem;
    justify-content: center;
    align-items: center;
  }

  header .container nav .menu li,
  header .container nav .menu-social {
    margin: 0 auto;
  }

  header .container nav .menu li a {
    font-size: 2.4rem;
  }

  div.s-modal {
    width: 90%;
  }

  div.s-modal .image {
    margin-top: 12px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }

  div.s-modal .modal .resulted h3 {
    font-size: 18px;
  }
  
  div.s-modal .modal .resulted img {
    width: 300px;
    height: 200px;
  }

}

@media (max-width: 768px) {
  section.s-cases .container .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  section.s-cases .grid .wrapper {
    margin-top: 48px;
  }

  section.s-cases .grid {
    width: 90%;
  }
}

@media (max-width: 624px) {
  .s-hero .container .title h1 span {
    font-size: 24px;
    width: 25ch;
    animation: typing .5s step-end infinite, write 3s steps(25 , end) normal;
  }
  
  @keyframes typing {
      50% {
        border-right-color: transparent;
      }
  }
  
  @keyframes write {
    0% {
      width: 0;
    }
  }

  .s-hero {
    background-position: center center;
  }

  .s-success .container .cards .card {
    flex-direction: column;
  }

  .s-success .container .cards .card .card-title {
    padding: 0;
  }
  .s-success .container .cards .card .card-title h3 {
    text-align: center;
  }

  .s-success .container .cards .card .card-info p {
    text-align: center;
  }

  div.s-modal {
    padding: 0;
  }

  div.s-modal .modal .about .wrapper {
    display: flex;
    flex-direction: column;
  }

  div.s-modal .modal .about .wrapper .card-modal {
    width: 100%;
    margin: 0 auto;
    margin-top: 24px;
  }
}

@media (max-width: 500px) {
  .s-hero .container .title h1 {
    font-size: 4.5rem;
  }

  .s-about .container .my-picture {
    width: 90%;
  }
}
