html {
  height: 100%;
}

body {
  background: url(../img/gestao-de-trafego.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

/* Header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4rem 0px;
  z-index: 2021;
}

header .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header .container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container nav .menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header .container nav .menu li {
  margin-right: 4.8rem;
}

header .container nav .menu-social {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-left: 4rem;
  gap: 3.4rem;
}
header .container nav .menu-social img {
  transition: all 0.2s;
  animation: spin 0.3s normal;
}

@keyframes spin {
  from {
      position: absolute;
      top: 50%
      };
  }

  to {
      position:unset;
  }

header .container nav .menu-social img:hover {
  filter: brightness(90%);
  transform: translateY(-5%);
}

.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.btn-primary img {
  width: 40px;
}

.logo img {
  width: 120px;
}

.logo-insta {
  width: 50px;
}

.title p {
  background-color: rgba(240, 248, 255, 0.073);
  border-radius: 14px;
  padding: 6px 12px;
}

.techs img {
  width: 50px;
}

.techs a:nth-child(4) {
  width: 44px;
}


/* Section hero */
.s-hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.s-hero .container .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 59.2rem;
  margin-top: 24rem;
  padding-bottom: 6rem;
  gap: 24px;
}

.s-hero .container .title h1 {
  font-family: "Inter";
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 7.7rem;
  text-align: center;
  color: var(--white-color);
}

.s-hero .container .title h1 span {
  color: var(--primary-color);
}

.s-hero .container .title h2 {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.6rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 3.2rem;
}

.s-hero .container .title p {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.7rem;
  text-align: center;
  color: var(--second-color);
}

.s-hero .container .title .techs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
  margin-top: 2.3rem;
}

.s-hero .container .title .btn-primary {
  margin-top: 4rem;
  padding: 1rem 5.6rem;
}

/* Section Success */

.s-success {
  padding: 12rem 0;
}

.s-success .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.4rem;
  padding: 80px 0;
}

.s-success .container .title-success h2 span {
  font-family: "Inter", sans-serif;
}

.s-success .container .cards {
  display: flex;
  gap: 16px;
}

.s-success .container .cards .card {
  width: 350px;
  padding: 8px;
  height: 40rem;
  background-color: var(--white-color);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: rgba(255, 255, 255, 0.032) 0px 14px 28px, rgba(255, 255, 255, 0.032) 0px 10px 10px;
}

.s-success .container .cards .card:hover {
  filter: brightness(90%);
}

.s-success .container .cards .card:nth-child(2) {
  background-color: var(--primary-color);
}

.s-success .container .cards .card:last-child {
  margin-right: 0;
}

.s-success .container .cards .card .card-title {
  margin: 4rem 0 2rem 0;
  padding-right: 14.5rem;
  padding-left: 1.4rem;
}

.s-success .container .cards .card .card-info {
  padding-left: 1.4rem;
}

.s-success .container .cards .card .card-title h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px
}

.s-success .container .cards .card .card-info p {
  font-family: "Inter";
  font-weight: 300;
  font-size: 14px;
  line-height: 2.2rem;
}

.s-success .container .cards .card .card-info p:nth-child(2) {
  margin-top: 2rem;
}

/* About */

.s-about {
  background-color: var(--black-color-medium);
  padding: 6rem 0;
  padding: 80px 0;
}

.s-about .container {
  display: flex;
  justify-content: space-around;
}

.s-about .container .about-me {
  width: 100%;
  max-width: 71rem;
}

.s-about .container .about-me p {
  font-weight: 400;
  line-height: 2.4rem;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.83);
  margin-top: 2.4rem;
}

.s-about .container .about-me ul {
  display: flex;
  gap: 1.6rem;
  margin-top: 3.2rem;
}

.s-about .container .about-me ul li a img {
  transition: all 0.2s;
}

.s-about .container .about-me ul li a img:hover {
  transform: translateY(-12%);
  filter: brightness(80%);
}

.s-about .container .my-picture {
  width: 30%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgba(92, 91, 91, 0.35) 0px 5px 15px;
}

.s-about .container .my-picture img {
  width: 100%;
  height: 100%;
}


/* SKILLS */

.s-skills>.container {
  padding: 14rem 0;
}

.s-skills>.container h2{
  margin-bottom: 7.2rem;
  text-align: center;
}

.s-skills .skills {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.s-skills .skills .wrapper {
  width: 350px;
  background-color: rgba(0, 255, 255, 0.067);
  padding: 24px;
  border-radius: 16px;
}

.s-skills .skills .img {
  margin-bottom: 4px;
  width: 300px;
}

.s-skills .skills .img img {
  width: 100%;
  border-radius: 8px;
}

.s-skills .skills .container {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.s-skills .skills .container h3 {
  font-size: 20px;
  color: rgb(170, 255, 255);
}

.s-skills .skills .container p {
  font-size: 12px;
}

/* Cases */
.s-cases {
  padding: 4.5rem 0;
  margin-bottom: 8rem;
}

.s-cases .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.s-cases .container .title-cases {
  margin-bottom: 7.3rem;
  text-align: center;
}

.s-cases .container .cases {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 80px 0;
}

.s-cases .container .cases img {
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.s-cases .container .cases .case {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  background-color: black;
  border: 2px solid #09011dc2;
  box-shadow: #09011dc2 0px 5px 10px;
  transition: 0.3s;
}

.s-cases .container .cases .case:hover {
  transform: scale(1.1);
}


/* Contact */

.s-contact {
  padding-bottom: 4rem;
}

.s-contact .container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.s-contact .container .title-contact h2 {
  margin-bottom: 2.4rem;
}

.s-contact .container .form-contact {
  width: 100%;
  max-width: 48.6rem;
}

.s-contact .container .form-contact .input-group input[type="text"] {
  margin-bottom: 3.1rem;
}
.s-contact .container .form-contact .input-group textarea {
  margin-bottom: 0;
}
.input-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.s-contact .container .form-contact .submit {
  border-radius: 2.4rem;
  background-color: var(--primary-color);
  padding: 1rem 2.4rem;
  border: none;
  margin-top: 1.7rem;
  font-weight: 700;
  cursor: pointer;
}

/*Footer*/

footer {
  background-color: var(--black-color-medium);
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .container .copy {
  padding: 5.2rem 0;
}

footer .container .copy {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
